apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  releaseName: external-secrets
  interval: 5m
  createNamespace: true
  chart:
    spec:
      chart: crossplane
      version: '0.9.14'
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: external-secrets