apiVersion: pkg.crossplane.io/v1beta1
kind: Function
metadata:
  name: go-templating
spec:
  package: xpkg.upbound.io/crossplane-contrib/function-go-templating:v0.4.1
---
apiVersion: pkg.crossplane.io/v1beta1
kind: Function
metadata:
  name: auto-ready
spec:
  package: xpkg.upbound.io/crossplane-contrib/function-auto-ready:v0.2.1
#---
#apiVersion: pkg.crossplane.io/v1beta1
#kind: Function
#metadata:
#  name: function-environment-configs
#spec:
#  package: xpkg.upbound.io/crossplane-contrib/function-environment-configs:v0.0.7
