apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: provider-cloudflare
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              args:
                - --debug
---
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-cloudflare
spec:
  package: europe-west1-docker.pkg.dev/sbx-test-42-c755/provider/provider-cloudflare:V0.1
  runtimeConfigRef:
    name: provider-cloudflare