apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: provider-gcp
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              args:
                - --debug
  serviceAccountTemplate:
    metadata:
      name: crossplane-provider-gcp
      annotations:
        iam.gke.io/gcp-service-account: crossplane-provider-gcp@sbx-test-42-1be9.iam.gserviceaccount.com
---
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-family-gcp
spec:
  package: xpkg.upbound.io/upbound/provider-family-gcp:v1.1.0
  skipDependencyResolution: true
  runtimeConfigRef:
    name: provider-gcp
---
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-gcp-artifact
spec:
  package: xpkg.upbound.io/upbound/provider-gcp-artifact:v1.1.0
  skipDependencyResolution: true
  runtimeConfigRef:
    name: provider-gcp
---
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-gcp-cloudplatform
spec:
  package: xpkg.upbound.io/upbound/provider-gcp-cloudplatform:v1.1.0
  skipDependencyResolution: true
  runtimeConfigRef:
    name: provider-gcp